window {
    background-color: #151109;
    color: #c4c3c1;
}

listview {
    background-color: #151109;
    border: 1px solid #151109;
}

listview row:selected {
    background-color: #99773B;
    color: #c4c3c1;
}

scrollbar {
    background-color: #151109;
    border-radius: 5px;
}

scrollbar slider {
    background-color: #99773B;
    border-radius: 5px;
}
